openai
python-dotenv

langchain
langchain-openai
langchain-community

faiss-cpu
chromadb

pandas
numpy
tqdm
pydantic

pymupdf
pypdf
pdfplumber
unstructured
docling
pyhwp2

tiktoken
streamlit

ragas
datasets
evaluate
