openai
python-dotenv

langchain
langchain-text-splitters
langchain-openai
langchain-community

faiss-cpu
chromadb

pandas
numpy
tqdm
pydantic
PyYAML

pymupdf4llm

tiktoken

dvc[gs]

langchain-huggingface sentence-transformers
einops
